/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Argon
Description: A two-column, fixed-width design with a dark color scheme.
Version    : 1.0
Released   : 20120529
*/

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: underline;
	color: #FFF;
}

a:hover {
	text-decoration: none;
}

body {
	background: #281525 url(images/bg0.jpg) top center no-repeat;
	background-size: 100%;
	line-height: 1.75em;
	color: #CCB7C0;
	font-size: 12pt;
}

body,input {
	font-family: Arial, sans-serif;
}

br.clearfix {
	clear: both;
}

strong {
	color: #FFF;
}

h1,h2,h3,h4 {
	text-transform: lowercase;
	font-weight: normal;
}

h2 {
	font-size: 1.75em;
}

h2,h3,h4 {
	color: #FFF;
	font-family: Abel, sans-serif;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

ul h4 {
	margin-bottom: 0.35em;
}

.box {
	margin-bottom: 3em;
}

#content {
	padding: 0;
	width: 765px;
	float: left;
}

#footer {
	text-align: center;
	margin: 40px 0 80px 0;
	color: #543E51;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

#footer a {
	color: #543E51;
}

#header {
	padding: 45px;
	position: relative;
	height: 140px;
}

#logo {
	line-height: 168px;
	left: 45px;
	height: 168px;
	top: 0;
	position: absolute;
	text-shadow: 1px 1px 1px #000;
}

#logo a {
	color: #FFF;
	text-decoration: none;
}

#logo h1 {
	font-family: Lobster, script;
	font-size: 3em;
	display: inline;
	margin-right: 0.25em;
}

#logo span {
	color: #B294A0;
}

#menu {
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: Abel, sans-serif;
	margin: 0 0 0 0;
	height: 70px;
	background: #bdb7bc url(images/bg2.png) top left repeat-x;
	width: 1090px;
	padding: 0 45px 0 45px;
	line-height: 70px;
	text-shadow: 1px 1px 0px #FFF;
	border-radius: 10px 10px 0px 0px;
}

#menu a {
	text-decoration: none;
	font-size: 1.5em;
	text-transform: lowercase;
	color: #000;
}

#menu ul {
	list-style: none;
}

#menu ul li {
	padding: 13px 15px 10px 15px;
	margin-right: 10px;
	display: inline;
}

#menu ul li.first {
	padding-left: 0;
}

#menu .current_page_item {
	background: rgba(0,0,0,0.1);
	border-radius: 4px;
	padding: 13px 15px 10px 15px !important;
	border-top: solid 1px rgba(0,0,0,0.2);
	border-bottom: solid 1px #fff;
}

#page {
	width: 1090px;
	padding: 45px 45px 0 45px;
	position: relative;
	background: rgba(20,0,18,0.9);
	margin: 0;
	border-left: solid 1px rgba(255,230,255,0.15);
	border-right: solid 1px rgba(255,230,255,0.15);
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	padding: 30px 0 30px 0;
	clear: both;
}

#page ul {
	list-style: none;
}

#page-bottom {
	width: 1090px;
	padding: 45px 45px 30px 45px;
	color: #444;
	background: #A59DA4 url(images/bg1.png) top left repeat-x;
	position: relative;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	border-radius: 0px 0px 10px 10px;
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.5), inset 0px 0px 0px 2px rgba(0,0,0,0.25), 0px 4px 3px 1px rgba(0,0,0,0.25);
	border: solid 1px rgba(0,0,0,0.5);
}

#page-bottom a {
	color: #212121;
}

#page-bottom h2, #page-bottom h3, #page-bottom h4 {
	color: #000;
}

#page-bottom ul {
	list-style: none;
}

#page-bottom-content {
	width: 765px;
	float: left;
}

#page-bottom-sidebar {
	margin: 0 0 0 790px;
	width: 300px;
}

#box1 {
	width: 370px;
	float: left;
	overflow: hidden;
}

#box2 {
	width: 370px;
	overflow: hidden;
	margin: 0 0 0 395px;
}

#search input.form-submit {
	font-family: Abel, sans-serif;
	background: #FFF;
	color: #000;
	margin-left: 1em;
	border: 0;
	padding: 10px;
}

#search input.form-text {
	padding: 10px;
	border: dashed 1px #4A3A48;
}

#sidebar {
	padding: 0;
	margin: 0 0 0 790px;
	width: 300px;
}

#wrapper {
	width: 1180px;
	position: relative;
	margin: 0 auto 0 auto;
}